# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# React.js
/build
/.env
/.env.local
/.env.development
/.env.test
/.env.production
/dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# IDEs and Text Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Operating System files
.DS_Store
Thumbs.db

# Build directories
/build/

# Coverage directory used by tools like Istanbul
/coverage/

# Temporary files
*.swp
*.swo
*.bak
*.tmp
*.pid
*.seed

# React Native (if applicable)
.expo/
