.Portfolio {
  text-align: center;
  color: #ffffff;
}

.left {
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    float: left;
    width: 25%;
}

.right {
    float: right;
    margin-right: 10%;
    margin-top: 5%;
    width: 55%;
}

#images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
    padding: 0 0 30px 0;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    border-radius: 50%;
}

#list {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 45%;
}

#icons {
    max-height: 35px;
    max-width: 35px;
}


#contacts {
    padding: 5px;
}

#bio {
    margin-left: 15%;
    margin-right: 15%;
}

#pics {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

#tee {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2%;
  padding-bottom: 3%;
  text-align: center;
}

#colour {
  color: #9c9c9c;
}
