#main-body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

.left-main {
  display: flex;
  flex-direction: column;
  text-align: center;
  float: left;
  margin-top: 15%;
}

.right-main {
  float: left;
  margin-top: 10%;
  font-size: 105%;
}

#me {
  width: 30%;
  border-radius: 25%;
}

#main-h3 {
  color: #2a659c;
}

#t {
  display: flex;
  flex-wrap: wrap;
}

#box2 {
  padding-left: 1%;
}
