#main-body {
  margin-left: 10%;
  margin-right: auto;
  color: #ffffff;
  text-align: left;
}

.main {
  float: left;
  font-size: 105%;
}

#me {
  width: 30%;
  border-radius: 25%;
}

#main-h3 {
  color:  #388cd6;
}

#t {
  display: flex;
}

#box {
  padding-left: 5%;
}
