html {
    background: #ffffff;
}

.button-style {
  border-radius: 12%;
  padding: 1vh 3vh;
  color: #ffffff;
  background-color: #388cd6;
}

.button-style span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-style span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1vh;
  transition: 0.5s;
}

.button-style:hover span {
  padding-right: 2vh;
}

.button-style:hover span:after {
  opacity: 1;
  right: 0;
}

/* Themes */
#light-red {
  color: #de3333;
}

#red {
  color: #ff2626;
}

#dark-red {
  color: #9e1818;
}

#tes {
}
