.loading {
   margin-bottom: 0;
}

.container {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  flex-basis: 0px;
  flex-grow: 1;
}

#icon {
  position: relative;
    width: 400px;
    height: 100px;
    margin: 7% auto 7% auto;
    font-size: 65px;
    text-shadow: -1px 2px 2px #000;
    text-align: center;
    color: #000000;
}

#icon-2 {
  color: #074c8a;
}

.links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.la {
 flex: 1;
}
